In [2]:
import pandas as pd
import os

In [3]:
schools_csv=os.path.join("..","..","Resources","schools_complete.csv")
students_csv=os.path.join("..","..","Resources","students_complete.csv")

schools_df=pd.read_csv(schools_csv)
students_df=pd.read_csv(students_csv)

In [4]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [5]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
merged_df=pd.merge(students_df,schools_df,on="school_name",how="left")
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [84]:
total_schools=merged_df['school_name'].unique()
total_schools=len(total_schools)
print(total_schools)
total_students=merged_df['Student ID'].count()
print(total_students)
total_budget=merged_df['budget'].unique()
total_budget=total_budget.sum()
print(total_budget)
avg_math=merged_df['math_score'].mean()
print(avg_math)
avg_reading=merged_df['reading_score'].mean()
print(avg_reading)

15
39170
24649428
78.98537145774827
81.87784018381414

In [19]:
pass_math_df=merged_df.loc[merged_df['math_score']>69, :]
pass_math_count=pass_math_df['math_score'].count()
pass_math_avg=(pass_math_count/total_students)*100
pass_math_avg

74.9808526933878

In [20]:
pass_reading_df=merged_df.loc[merged_df['reading_score']>69, :]
pass_reading_count=pass_reading_df['reading_score'].count()
pass_reading_avg=(pass_reading_count/total_students)*100
pass_reading_avg

85.80546336482001

In [21]:
overall_passing_rate=(pass_math_avg + pass_reading_avg)/2
overall_passing_rate

80.39315802910392

In [22]:
district_summary=pd.DataFrame({"Total Schools":[total_schools], "Total Students":[total_students], "Total Budget":[total_budget], "Average Math Score":[avg_math], "Average Reading Score":[avg_reading], "% Pass Math":[pass_math_avg], "% Pass Reading":[pass_reading_avg], "Overall Passing Rate":[overall_passing_rate]})
district_summary['Total Students']=district_summary['Total Students'].map("{:,}".format)
district_summary['Total Budget']=district_summary['Total Budget'].map("${:,.2f}".format)
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.393158

In [85]:
ss_grouped=merged_df.groupby(['type', 'budget','school_name'])
ss_grouped_df=pd.DataFrame(ss_grouped['Student ID'].count())
ss_grouped_df
ss_df=ss_grouped_df.reset_index()
ss_df

        type   budget            school_name  Student ID
0    Charter   248087     Holden High School         427
1    Charter   585858       Pena High School         962
2    Charter   917500    Griffin High School        1468
3    Charter  1043130     Thomas High School        1635
4    Charter  1049400     Wright High School        1800
5    Charter  1056600    Shelton High School        1761
6    Charter  1081356    Cabrera High School        1858
7    Charter  1319574     Wilson High School        2283
8   District  1763916       Ford High School        2739
9   District  1884411   Figueroa High School        2949
10  District  1910635      Huang High School        2917
11  District  2547363  Rodriguez High School        3999
12  District  3022020  Hernandez High School        4635
13  District  3094650    Johnson High School        4761
14  District  3124928     Bailey High School        4976

In [29]:
ss_df.columns

Index(['type', 'budget', 'school_name', 'Student ID'], dtype='object')

In [30]:
order_ss_df=ss_df[['school_name','type','Student ID','budget']]
order_ss_df

              school_name      type  Student ID   budget
0      Holden High School   Charter         427   248087
1        Pena High School   Charter         962   585858
2     Griffin High School   Charter        1468   917500
3      Thomas High School   Charter        1635  1043130
4      Wright High School   Charter        1800  1049400
5     Shelton High School   Charter        1761  1056600
6     Cabrera High School   Charter        1858  1081356
7      Wilson High School   Charter        2283  1319574
8        Ford High School  District        2739  1763916
9    Figueroa High School  District        2949  1884411
10      Huang High School  District        2917  1910635
11  Rodriguez High School  District        3999  2547363
12  Hernandez High School  District        4635  3022020
13    Johnson High School  District        4761  3094650
14     Bailey High School  District        4976  3124928

In [31]:
per_student_bud=(order_ss_df['budget']/order_ss_df['Student ID'])
order_ss_df['Per Student Budget']=per_student_bud
order_ss_df

C:\Users\aeori\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

              school_name      type  Student ID   budget  Per Student Budget
0      Holden High School   Charter         427   248087               581.0
1        Pena High School   Charter         962   585858               609.0
2     Griffin High School   Charter        1468   917500               625.0
3      Thomas High School   Charter        1635  1043130               638.0
4      Wright High School   Charter        1800  1049400               583.0
5     Shelton High School   Charter        1761  1056600               600.0
6     Cabrera High School   Charter        1858  1081356               582.0
7      Wilson High School   Charter        2283  1319574               578.0
8        Ford High School  District        2739  1763916               644.0
9    Figueroa High School  District        2949  1884411               639.0
10      Huang High School  District        2917  1910635               655.0
11  Rodriguez High School  District        3999  2547363               637.0
12  Hernandez High School  District        4635  3022020               652.0
13    Johnson High School  District        4761  3094650               650.0
14     Bailey High School  District        4976  3124928               628.0

In [32]:
ss_grouped_avg=merged_df.groupby('school_name')
ss_grouped_avgDF=ss_grouped_avg['reading_score','math_score'].mean()
ss_grouped_avgDF

                       reading_score  math_score
school_name
Bailey High School         81.033963   77.048432
Cabrera High School        83.975780   83.061895
Figueroa High School       81.158020   76.711767
Ford High School           80.746258   77.102592
Griffin High School        83.816757   83.351499
Hernandez High School      80.934412   77.289752
Holden High School         83.814988   83.803279
Huang High School          81.182722   76.629414
Johnson High School        80.966394   77.072464
Pena High School           84.044699   83.839917
Rodriguez High School      80.744686   76.842711
Shelton High School        83.725724   83.359455
Thomas High School         83.848930   83.418349
Wilson High School         83.989488   83.274201
Wright High School         83.955000   83.682222

In [33]:
merge_ss_df=pd.merge(order_ss_df,ss_grouped_avgDF,on='school_name',how='left')
merge_ss_df

,school_name,type,Student ID,budget,Per Student Budget,reading_score,math_score
0,Holden High School,Charter,427,248087,581.0,83.814988,83.803279
1,Pena High School,Charter,962,585858,609.0,84.044699,83.839917
2,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499
3,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349
4,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222
5,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895
7,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201
8,Ford High School,District,2739,1763916,644.0,80.746258,77.102592
9,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767
10,Huang High School,District,2917,1910635,655.0,81.182722,76.629414
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711
12,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752
13,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464
14,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432

In [82]:
count_math=pass_math_df.groupby(['school_name'])
count_math_df=pd.DataFrame(count_math['math_score'].count())
count_math_df
count_reading=pass_reading_df.groupby(['school_name'])
count_reading_df=pd.DataFrame(count_reading['reading_score'].count())
count_reading_df
pass_count=pd.merge(count_math_df,count_reading_df,on='school_name',how='left')
pass_count_df=pass_count.rename(columns={"math_score":"Pass Math Count","reading_score":"Pass Reading Count"})
pass_count_df

                       Pass Math Count  Pass Reading Count
school_name
Bailey High School                3318                4077
Cabrera High School               1749                1803
Figueroa High School              1946                2381
Ford High School                  1871                2172
Griffin High School               1371                1426
Hernandez High School             3094                3748
Holden High School                 395                 411
Huang High School                 1916                2372
Johnson High School               3145                3867
Pena High School                   910                 923
Rodriguez High School             2654                3208
Shelton High School               1653                1688
Thomas High School                1525                1591
Wilson High School                2143                2204
Wright High School                1680                1739

In [83]:
student_count=merge_ss_df.loc[:,['school_name','Student ID']]
student_count
count_df=pd.merge(pass_count_df,student_count,on='school_name',how='left')
count_df

              school_name  Pass Math Count  Pass Reading Count  Student ID
0      Bailey High School             3318                4077        4976
1     Cabrera High School             1749                1803        1858
2    Figueroa High School             1946                2381        2949
3        Ford High School             1871                2172        2739
4     Griffin High School             1371                1426        1468
5   Hernandez High School             3094                3748        4635
6      Holden High School              395                 411         427
7       Huang High School             1916                2372        2917
8     Johnson High School             3145                3867        4761
9        Pena High School              910                 923         962
10  Rodriguez High School             2654                3208        3999
11    Shelton High School             1653                1688        1761
12     Thomas High School             1525                1591        1635
13     Wilson High School             2143                2204        2283
14     Wright High School             1680                1739        1800

In [65]:
per_passmath=(count_df['Pass Math Count']/count_df['Student ID'])*100
count_df['% Passing Math']=per_passmath
per_passreading=(count_df['Pass Reading Count']/count_df['Student ID'])*100
count_df['% Passing Reading']=per_passreading
count_df

,school_name,Pass Math Count,Pass Reading Count,Student ID,% Passing Math,% Passing Reading
0,Bailey High School,3318,4077,4976,66.680064,81.933280
1,Cabrera High School,1749,1803,1858,94.133477,97.039828
2,Figueroa High School,1946,2381,2949,65.988471,80.739234
3,Ford High School,1871,2172,2739,68.309602,79.299014
4,Griffin High School,1371,1426,1468,93.392371,97.138965
5,Hernandez High School,3094,3748,4635,66.752967,80.862999
6,Holden High School,395,411,427,92.505855,96.252927
7,Huang High School,1916,2372,2917,65.683922,81.316421
8,Johnson High School,3145,3867,4761,66.057551,81.222432
9,Pena High School,910,923,962,94.594595,95.945946
10,Rodriguez High School,2654,3208,3999,66.366592,80.220055
11,Shelton High School,1653,1688,1761,93.867121,95.854628
12,Thomas High School,1525,1591,1635,93.272171,97.308869
13,Wilson High School,2143,2204,2283,93.867718,96.539641
14,Wright High School,1680,1739,1800,93.333333,96.611111

In [67]:
per_pass_df=count_df.loc[:,['school_name','% Passing Math','% Passing Reading']]
per_pass_df

              school_name  % Passing Math  % Passing Reading
0      Bailey High School       66.680064          81.933280
1     Cabrera High School       94.133477          97.039828
2    Figueroa High School       65.988471          80.739234
3        Ford High School       68.309602          79.299014
4     Griffin High School       93.392371          97.138965
5   Hernandez High School       66.752967          80.862999
6      Holden High School       92.505855          96.252927
7       Huang High School       65.683922          81.316421
8     Johnson High School       66.057551          81.222432
9        Pena High School       94.594595          95.945946
10  Rodriguez High School       66.366592          80.220055
11    Shelton High School       93.867121          95.854628
12     Thomas High School       93.272171          97.308869
13     Wilson High School       93.867718          96.539641
14     Wright High School       93.333333          96.611111

In [68]:
merge2_ss_df=pd.merge(merge_ss_df,per_pass_df,on='school_name',how='left')
merge2_ss_df

,school_name,type,Student ID,budget,Per Student Budget,reading_score,math_score,% Passing Math,% Passing Reading
0,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927
1,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946
2,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965
3,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869
4,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111
5,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828
7,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641
8,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014
9,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,80.739234
10,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055
12,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999
13,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432
14,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280

In [69]:
passing_rate=(merge2_ss_df['% Passing Math']+merge2_ss_df['% Passing Reading'])/2
merge2_ss_df['Overall Passing Rate']=passing_rate
merge2_ss_df

,school_name,type,Student ID,budget,Per Student Budget,reading_score,math_score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927,94.379391
1,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,95.270270
2,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,95.265668
3,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,95.290520
4,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111,94.972222
5,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628,94.860875
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,95.586652
7,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,95.203679
8,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,73.804308
9,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,80.739234,73.363852
10,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,73.500171
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,73.293323
12,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,73.807983
13,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,73.639992
14,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280,74.306672

In [86]:
merge3_ss_df=merge2_ss_df.rename(columns={'school_name':'School Name','type':'School Type','Student ID':'Total Students','budget':'Total School Budget','reading_score':'Average Reading Score','math_score':'Average Math Score'})
merge3_ss_df
merge4_ss_df=merge3_ss_df.sort_values("School Name")
merge4_ss_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
14,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280,74.306672
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,95.586652
9,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,80.739234,73.363852
8,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,73.804308
2,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,95.265668
12,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,73.807983
0,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927,94.379391
10,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,73.500171
13,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,73.639992
1,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,95.270270
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,73.293323
5,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628,94.860875
3,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,95.290520
7,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,95.203679
4,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111,94.972222

In [77]:
toprate_ss=merge4_ss_df.sort_values("Overall Passing Rate",ascending=False)
toprate_ss_df=toprate_ss.reset_index(drop=True)
toprate_ss_df
top5_df=toprate_ss_df.iloc[0:5,:]
top5_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,95.586652
1,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,95.290520
2,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,95.270270
3,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,95.265668
4,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,95.203679

In [81]:
botrate_ss=merge4_ss_df.sort_values("Overall Passing Rate")
botrate_ss_df=botrate_ss.reset_index(drop=True)
botrate_ss_df
bot5_df=botrate_ss_df.iloc[0:5,:]
bot5_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,73.293323
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,80.739234,73.363852
2,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,73.500171
3,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,73.639992
4,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,73.804308

In [111]:
grade_group=merged_df.groupby(['school_name','grade'], sort=False).mean().unstack(fill_value=0)
grade_group
avg_math_df=pd.DataFrame(grade_group['math_score'])
avg_math_df
math_df=avg_math_df.reset_index()
math_df
math_df2=math_df.sort_values('school_name')
math_df2
math_df3=math_df2.reset_index(drop=True)
math_df3
math_df4=math_df3.set_index('school_name')
math_df4

grade                        9th       12th       11th       10th
school_name
Bailey High School     77.083676  76.492218  77.515588  76.996772
Cabrera High School    83.094697  83.277487  82.765560  83.154506
Figueroa High School   76.403037  77.151369  76.884344  76.539974
Ford High School       77.361345  76.179963  76.918058  77.672316
Griffin High School    82.044010  83.356164  83.842105  84.229064
Hernandez High School  77.438495  77.186567  77.136029  77.337408
Holden High School     83.787402  82.855422  85.000000  83.429825
Huang High School      77.027251  77.225641  76.446602  75.908735
Johnson High School    77.187857  76.863248  77.491653  76.691117
Pena High School       83.625455  84.121547  84.328125  83.372000
Rodriguez High School  76.859966  77.690748  76.395626  76.612500
Shelton High School    83.420755  83.778976  83.383495  82.917411
Thomas High School     83.590022  83.497041  83.498795  83.087886
Wilson High School     83.085578  83.035794  83.195326  83.724422
Wright High School     83.264706  83.644986  83.836782  84.010288

In [117]:
grade_group=merged_df.groupby(['school_name','grade'], sort=False).mean().unstack(fill_value=0)
grade_group
avg_reading_df=pd.DataFrame(grade_group['reading_score'])
avg_reading_df
reading_df=avg_reading_df.reset_index()
reading_df
reading_df2=reading_df.sort_values('school_name')
reading_df2
reading_df3=reading_df2.reset_index(drop=True)
reading_df3
reading_df4=reading_df3.set_index('school_name')
reading_df4

grade                        9th       12th       11th       10th
school_name
Bailey High School     81.303155  80.912451  80.945643  80.907183
Cabrera High School    83.676136  84.287958  83.788382  84.253219
Figueroa High School   81.198598  81.384863  80.640339  81.408912
Ford High School       80.632653  80.662338  80.403642  81.262712
Griffin High School    83.369193  84.013699  84.288089  83.706897
Hernandez High School  80.866860  80.857143  81.396140  80.660147
Holden High School     83.677165  84.698795  83.815534  83.324561
Huang High School      81.290284  80.305983  81.417476  81.512386
Johnson High School    81.260714  81.227564  80.616027  80.773431
Pena High School       83.807273  84.591160  84.335938  83.612000
Rodriguez High School  80.993127  80.376426  80.864811  80.629808
Shelton High School    84.122642  82.781671  84.373786  83.441964
Thomas High School     83.728850  83.831361  83.585542  84.254157
Wilson High School     83.939778  84.317673  83.764608  84.021452
Wright High School     83.833333  84.073171  84.156322  83.812757