In [1]:
import pandas as pd
import os

In [5]:
schools_csv=os.path.join("..","..","Resources","schools_complete.csv")
students_csv=os.path.join("..","..","Resources","students_complete.csv")

schools_df=pd.read_csv(schools_csv)
students_df=pd.read_csv(students_csv)

In [6]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [7]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [8]:
merged_df=pd.merge(students_df,schools_df,on="school_name",how="left")
merged_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [11]:
total_schools=merged_df['school_name'].unique()
total_schools=len(total_schools)
total_schools

15

In [12]:
total_students=merged_df['Student ID'].count()
total_students

39170

In [15]:
total_budget=merged_df['budget'].unique()
total_budget=total_budget.sum()
total_budget

24649428

In [16]:
avg_math=merged_df['math_score'].mean()
avg_math

78.98537145774827

In [17]:
avg_reading=merged_df['reading_score'].mean()
avg_reading

81.87784018381414

In [21]:
pass_math_df=merged_df.loc[merged_df['math_score']>69, :]
pass_math_count=pass_math_df['math_score'].count()
pass_math_avg=pass_math_count/total_students
pass_math_avg

0.749808526933878

In [23]:
pass_reading_df=merged_df.loc[merged_df['reading_score']>69, :]
pass_reading_count=pass_reading_df['reading_score'].count()
pass_reading_avg=pass_reading_count/total_students
pass_reading_avg

0.8580546336482001

In [24]:
overall_passing_rate=(pass_math_avg + pass_reading_avg)/2
overall_passing_rate

0.8039315802910391

In [26]:
school_summary=pd.DataFrame({"Total Schools":[total_schools], "Total Students":[total_students], "Total Budget":[total_budget], "Average Math Score":[avg_math], "Average Reading Score":[avg_reading], "% Pass Math":[pass_math_avg], "% Pass Reading":[pass_reading_avg], "Overall Passing Rate":[overall_passing_rate]})
school_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932